@model IEnumerable<studentsTest.Models.Tests>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Tests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Test name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestName)
                </td>
                <td>
                    <a asp-action="Solve" asp-route-id="@item.Id">Solve</a>
                </td>
            </tr>
        }
    </tbody>
</table>
