@model studentsTest.Models.Questions

@{
    ViewData["Title"] = "Solving test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Text</h4>
    <hr />
    @for (int i = 0; i < Model.QuestionOptions.Count; i++)
    {
        string value = i == Model.CorrectAnswerIndex ? "1" : "0";
        @Html.ActionLink(Model.QuestionOptions.ToList()[i].OptionText, "ReceiveAnswer", new
   {
       answer = i == Model.CorrectAnswerIndex,
       questionCount = ViewBag.QuestionCount,
       currentQuestion = ViewBag.CurrentQuestion,
       score = ViewBag.Score,
       testId = ViewBag.TestId
   })
        <br />
    }
</div>
